body {
    background-color: #ffffff;
    color: #333;
    font-family: 'Helvetica Neue', sans-serif;
}

.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #011932 !important;
    font-size: 1.5rem;
}

.nav-link {
    color:  #011932 !important;
}

.btn {
    border-radius: 25px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #25292d;
    color: white;
    text-align: center;
}

.card-title {
    color: #333;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
    line-height: 1.6;
}

.footer {
    background-color: #f8f9fa;
    color: #333;
}
