body {
    background-color: #ffffff;
    color: #333;
    font-family: 'Helvetica Neue', sans-serif;
}

.navbar {
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #011932 !important;
    font-size: 1.5rem;
}

.nav-link {
    color:  #011932 !important;
}

.btn {
    border-radius: 25px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #25292d;
    color: white;
    text-align: center;
}

.card-title {
    color: #333;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
    line-height: 1.6;
}

.footer {
    background-color: #f8f9fa;
    color: #333;
}
#chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.chatbot-toggle {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.chatbot-box {
    display: none;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.chatbot-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-chatbot {
    background: none;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.chatbot-messages {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    background-color: #f1f1f1;
}

.chatbot-form {
    display: flex;
    padding: 10px;
}

#chatbot-input {
    flex: 1;
    padding: 5px;
}

.send-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
}
