{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<!-- Section d'accueil -->


<!-- Section de recherche d'emploi par CV -->
<div class="container text-center my-5">
    <h2 class="mb-4">Explorez des Opportunités de Carrière grâce à votre CV</h2>

    <form action="{% url 'match_jobs' %}" method="post" enctype="multipart/form-data" class="bg-light p-4 shadow rounded">
        {% csrf_token %}
        <div class="form-group">
            <label for="cv_file" class="lead">Téléversez votre CV :</label>
            <input type="file" class="form-control-file mt-2" id="cv_file" name="cv_file" required>
        </div>
        <button type="submit" class="btn btn-success btn-lg mt-3">Trouver des Offres</button>
    </form>
</div>

<!-- Section des dernières offres d'emploi -->
<div class="container my-5">
    <h2 class="text-center mb-4"><i class="fas fa-bullhorn"></i> Dernières Offres d'Emploi</h2>
    <div class="row">
        {% for job in jobs %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100 border-0">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><i class="fas fa-briefcase"></i> {{ job.titre }}</h5>
                        <p class="card-text text-muted">{{ job.description|truncatewords:20 }}</p>
                        <p class="text-secondary"><i class="fas fa-map-marker-alt"></i> <strong>Localisation :</strong> {{ job.localisation }}</p>
                        <div class="mt-auto">
                            <a href="{% url 'job_detail' job.id %}" class="btn btn-outline-primary btn-block mt-3">Voir Détails</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12 text-center">
                <p>Aucune offre d'emploi disponible pour le moment.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}



